<!DOCTYPE html>
<html>
<head>
  <title>Rezervace</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Rezervace filmu</h1>
  <div>
    <img src="<%= movie.coverImage %>" alt="<%= movie.title %> cover" style="width: 100px; height: auto;">
    <h2><%= movie.title %></h2>
    <p><%= movie.description %></p>
    <p>Kino: <%= movie.showtimes.find(showtime => showtime.date.toISOString() === date && showtime.time === time).cinemaId.name %></p>
    <p>Datum: <%= new Date(date).toLocaleDateString() %></p>
    <p>Čas: <%= time %></p>
  </div>
  <form action="/reservations" method="POST">
    <input type="hidden" name="movieId" value="<%= movie._id %>">
    <input type="hidden" name="date" value="<%= date %>">
    <input type="hidden" name="time" value="<%= time %>">
    <label for="firstName">Jméno:</label>
    <input type="text" id="firstName" name="firstName" required><br>
    <label for="lastName">Příjmení:</label>
    <input type="text" id="lastName" name="lastName" required><br>
    <button type="submit">Rezervovat</button>
  </form>
</body>
</html>