<ul>
    <% for (const todo of todos) { %>
      <li>
        <a href="/todo/<%= todo.id %>">
          <%= todo.title %>
        </a>
        &nbsp; - Priorita: <%= todo.priority %>
        &nbsp;
        <a href="/remove-todo/<%= todo.id %>">
          odebrat
        </a>
        &nbsp;
        <a href="/toggle-todo/<%= todo.id %>">
          <%= todo.done ? 'hotovo' : 'nehotvo' %>
        </a>
      </li>
    <% } %>
  </ul>