<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= todo.title %></title>
</head>
<body>

  <h1><%= todo.title %></h1>

  <hr>

  <a href="/remove-todo/<%= todo.id %>">
    odebrat
  </a>
  &nbsp;
  <a href="/toggle-todo/<%= todo.id %>">
    <%= todo.done ? 'hotovo' : 'nehotvo' %>
  </a>

  <hr>

  <form method="post" action="/update-todo/<%= todo.id %>">
    <h2>Upravit todočko</h2>
    <input placeholder="Název todočka" name="title" value="<%= todo.title %>">
    <label for="priority">Priorita: </label>
    <select name="priority">
      <option value="normal" <%= todo.priority === 'normal' ? 'selected' : '' %>>Normal</option>
      <option value="low" <%= todo.priority === 'low' ? 'selected' : '' %>>Low</option>
      <option value="high" <%= todo.priority === 'high' ? 'selected' : '' %>>High</option>
    </select>
    <button type="submit">Upravit</button>
  </form>

  <hr>

  <a href="/">Zpět na seznam</a>
  <script>
    const ws = new WebSocket('ws://localhost:3000')
    const todoId = '<%= todo.id %>'


    ws.addEventListener('message', (message) => {
    const json = JSON.parse(message.data)

    if (json.type === 'todo' && json.todo.id === todoId) {
      document.querySelector('h1').textContent = json.todo.title
      document.querySelector('select[name="priority"]').value = json.todo.priority
      document.querySelector('a[href^="/toggle-todo"]').textContent = json.todo.done ? 'hotovo' : 'nehotovo'
    } else if (json.type === 'deleted' && json.todoId === todoId) {
      document.querySelector('h1').textContent = 'Todočko bylo smazáno'
    }
  })
  </script>
</body>
</html>
